body {
    background-color: #eaf3fa;
}

.mui {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #695065;
}

.mli {
    float: left;
    border-right:1px solid #bbb;
}

.m li:last-child {
    border-right: none;
}

.mli a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
}

.mli a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #2b193f;
}